
@font-face {
  font-family: "Computer Modern";
  src: 
    local("Computer Modern"),
    url("../assets/fonts/computer-modern/cmunss.ttf"),
    url("../assets/fonts/computer-modern/cmunso.ttf"),
    url("../assets/fonts/computer-modern/cmunsx.ttf");
}

* {
  font-family: "Computer Modern"
}

body {
  width: 50%;
  margin: auto;
}

h1 {
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: pink;
}

.bottom-border {
  border-bottom: 5px solid black;
}

/* .links h3 {
  text-align: center;
} */